<div class="container-fluid">
    <div class="row">
        <div *ngFor="let newsItem of indianNews" class="col-sm-3">
            <div class="item-wrapper">
                <div class="card" style="background-image: url('{{newsItem.urlToImage}}');">
                    <div class="card-body card-body-up">
                        <span class="badge bg-success">{{newsItem.publishedAt | date }}</span>
                        <a href="{{newsItem.url}}" target="_blank" class="news-title-link">
                            <h5 class="card-title pt-3">{{newsItem.title}}</h5>
                        </a>
                    </div>
                    <div class="card-body">
                        <a href="{{newsItem.url}}" target="_blank" class="card-link badge bg-light text-dark">Read More.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
